body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #92c9e6;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
@media (min-width: 500px) {
  .dataTable {
    min-height: 300px;
  }
}
.pagination {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 200px;
}

.page-number {
  cursor: pointer;
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
}

.active {
  font-size: 1.3em;
  height: 40px;
  width: 40px;
  background-color: #0057b3;
  color: white;
}

button {
  width: 120px;
  padding: 8px 16px;
  background-color: #ffffff00;
  color: #0057b3;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extremes {
  padding: 8px 16px;
  background-color: #ffffff00;
  color: #0057b3;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:hover {
  color: #0056b3;
}

button:disabled {
  background-color: #ffffff00;
  color: #ccc;
  cursor: not-allowed;
}

#prevPage {
  margin-right: 20px;
}

#nextPage {
  margin-left: 20px;
}

.arrow {
  font-size: 1.2em;
}

.nav-text {
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4, jump-none) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0)
  }
}
h1 {
  font-family: PT serif;
  font-size: 48px;
  max-width: 800px;
  margin: 0 auto;
}
.fancy-heading {
  margin-top: 50px;
  display: block;
  text-transform: uppercase;
  font-family: Unica one;
  padding: 0 20px;
  position: relative;
  z-index: 3;
}
.fancy-heading::before {
  content: '';
  background: black;
  height: 1px;
  position: absolute;
  width: 100%;
  max-width: 800px;
  left: 0;
  top: 50%;
  z-index: -1;
}
.fancy-heading::after {
  content: '';
  background: white;
  position: absolute;
  width: 52%;
  height: 100%;
  max-width: 800px;
  left: 24%;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 600px) {
  .fancy-heading {
    font-size: 32px;
  }
  .fancy-heading::after {
    width: 64%;
    left: 18%;
  }
}
@media screen and (max-width: 360px) {
  .fancy-heading {
    font-size: 24px;
  }
  .fancy-heading::after {
    width: 60%;
    left: 20%;
  }
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body
{
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
}